.loader {
  background-color: #005562c2;
  /* position: absolute; */
  height: 200px;
  display: flex;
}
.spinner {
  position: relative;
  margin: auto;
  box-sizing: border-box;
  background-clip: padding-box;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid var(--color-secondary);
  animation: spinner-wiggle 1s infinite;
}

.spinner span {
  position: absolute;
  top: 40%;
  left: 12%;
  color: #fff;
  font-size: 17px;
  animation: zoom 1s infinite;
}

.spinner:before,
.spinner:after {
  content: "";
  position: absolute;
  margin: -6px;
  box-sizing: inherit;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  opacity: 1;
  border: inherit;
  border-color: #fff;
  animation: spinner-spin .7s infinite, spinner-fade .5s linear infinite;
}

.spinner:before {
  border-bottom-color: var(--color-white);
  border-left-color: var(--color-primary);
}

.spinner:after {
  border-right-color: var(--color-tertiary);
  border-top-color: var(--color-secondary);
  animation-delay: 0.1s;
}

@keyframes spinner-spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner-fade {
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.1;
  }
}

@keyframes zoom {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10% {
    transform: scale3d(1.03, 1.03, 1.03);
    color: var(--color-secondary);
  }
  20% {
    transform: scale3d(1.06, 1.06, 1.06);
  }
  30% {
    transform: scale3d(1.09, 1.09, 1.09);
    color: var(--color-white);
  }
  40% {
    transform: scale3d(1.12, 1.12, 1.12);
  }
  50% {
    transform: scale3d(1.15, 1.15, 1.15);
    color: var(--color-tertiary);
  }
  60% {
    transform: scale3d(1.12, 1.12, 1.12);
  }
  70% {
    transform: scale3d(1.09, 1.09, 1.09);
    color: var(--color-primary);
  }
  80% {
    transform: scale3d(1.06, 1.06, 1.06);
  }
  90% {
    transform: scale3d(1.03, 1.03, 1.03);
    color: var(--color-secondary);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
