.messages-chat {
  height: 570px;
  overflow-y: scroll;
  background-color: #296b7744;
}

.messages-chat::-webkit-scrollbar {
  width: 6px; /* Tamaño del scroll en vertical */
  height: 0px; /* Tamaño del scroll en horizontal */
}

.messages-chat::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.messages-chat::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
  cursor: pointer !important;
}

.messages-chat::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}


/* ======================= card-message =======================*/

.card-message {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 3px #6b6b6b;
  margin: 8px 5px;
  width: 80%;
  contain: content;
}

.card-message-left {
  animation: 0.8s message-left normal;
}

.card-message-right {
  margin-left: auto;
  animation: 0.8s message-right normal;
}

@keyframes message-left {
  from {
    transform: translateX(-100%);
  }
}
@keyframes message-right {
  from {
    transform: translateX(150%);
  }
}

.card-message .message-header {
  display: flex;
  padding: 2px 5px;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}
.card-message .message-header .name-user {
  font-size: 11px;
}
.card-message .message-body {
  padding: 3px 5px;
}

.card-message .message-header .role {
  font-size: 11px;
}

.card-message .message-footer {
  display: flex;
  justify-content: flex-end;
  padding: 2px 5px;
}

.card-message .message-footer .date {
  font-size: 11px;
}

/*personalizacion de chats lado derecho*/
.card-message-right .message-header {
  background-color: #296e51;
}

.card-message-right .message-body{
  color: #0b3020;
}

.card-message-right .message-footer .date {
  color: #1a523a;
}

/*personalizacion de chats lado izquierdo*/
.card-message-left .message-header {
  background-color: var(--color-primary);
}

.card-message-left .message-body{
  color: #0b2530;
}

.card-message-left .message-footer .date {
  color: #1b475a;
}