
.text-info{
    color: #0380a7!important;
}
.nroOption{
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
    font-weight: 600;
    background-color: #3d3127;
    color: #ffffff;
}

.options{
    background-color: #ffffff;
    margin-top: 1em;
    padding: 8px 5px;
    border-radius: 10px;
    box-shadow: 0 1px 2px #444444;
}