.courses {
  margin-top: 2em;
  padding-bottom: 2em;
}
.card-list-course {
  box-shadow: 0 1px 2px #444444;
  border-radius: 10px;
}
.list-group {
  flex-direction: row;
}
.btn-group {
  width: 100%;
  border-radius: 10px;
}
.btn-cyan.active {
  background-color: #0f6675;
  transform: translateY(2px) scaleY(1.08);
}

table {
  min-width: auto;
}
