.sidenav {
  width: 250px;
  position: fixed;
  left: 0;
  top: 33px;
  background-color: var(--color-primary);
  box-shadow: 1px 3px 2px #444;
  z-index: 3;
  bottom: 0px;
  padding-bottom: 2rem;
  overflow-y: scroll;
  contain: content;
  transition: 0.4s;
}
.hidden-sidenav {
  width: 0% !important;
  opacity: 0.5;
  transform: translateX(-150%);
  transition: 0.4s;
}


.sidenav-item {
  display: flex;
  flex-direction: column;
}

.sidenav-link {
  list-style: none;
  padding: 10px 5px;
  color: #ffff;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  margin: 4px 0px;
}
.sidenav-link.active {
  background-color: #fff;
  color: var(--color-primary);
  border: 1px solid var(--color-tertiary);
  border-left: 15px solid var(--color-tertiary);
  box-shadow: 0 1px 2px #b4b4b4;
  transition: .2s;
}
.sidenav-link.active:hover {
  background-color: #fff;
}
.sidenav-link:hover {
  background-color: #ffffff93;
  color: var(--color-other);
}

/*css for open or close of sidenav and sidenav*/

.course-asignated{
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  margin: 10px 0px;
  padding: 3px 0px;
  display: flex;
  justify-content: center;
}
.course-asignated span{
  color: cyan;
  font-size: 12px;
}

.sidenav-link .code-course{
  font-size: 18px;
}

.sidenav-link .name-course{
  font-size: 13px;
}


/**/

.sidenav::-webkit-scrollbar-track {
  background: #005562;

}
.sidenav::-webkit-scrollbar-thumb {
  background: #ffffffad;
  border-radius: 10px;
}
.sidenav::-webkit-scrollbar-thumb:hover {
  background: #ffffffea;
  cursor: pointer !important;
}

@media screen and (max-width:776px) {
  .sidenav::-webkit-scrollbar {
    width: 3px; 
  }
}
@media screen and (min-width:777px) {
  .sidenav::-webkit-scrollbar {
    width: 4px; 
  }
}
@media screen and (min-width:993px) {
  .sidenav::-webkit-scrollbar {
    width: 6px; 
  }
}

@media screen and (min-width: 1200px) {
  .sidenav{
    width: 19%;
    transition: .4s;
  }
}



/*fot de perfil en sidenav*/
.profile {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.profile-photo {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0% auto;
}

.profile-name {
  color: var(--color-tertiary);
  margin: 10px auto 0px auto;
  text-transform: capitalize;
  font-size: 14px;
}
@media screen and (max-width:992px) {
  .sidenav-open {
    margin-left: 5px;
    transition: 0.25s ease-in;
  }
}
