.sidenav {
  width: 250px;
  position: fixed;
  left: 0;
  top: 38px;
  background-color: var(--color-primary);
  min-height: 100vh;
  box-shadow: 1px 3px 2px #444;
  contain: content;
}

.sidenav-show {
  transform: translateX(0px);
  transition: 0.25s ease-in;
}

.sidenav-hidden {
  transform: translateX(-250px);
  transition: 0.25s ease-out;
}

.sidenav-item {
  display: flex;
  flex-direction: column;
}

.sidenav-link {
  list-style: none;
  padding: 15px 5px;
  color: #ffff;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.sidenav-link.active {
    background-color: #FFF;
    color: var(--color-primary);
}
.sidenav-link:hover {
  background-color: var(--color-tertiary);
  color: var(--color-other);
  box-shadow: 0px 1px 2px 1px #b9b9b9;
}

/*css for open or close of sidenav and main*/
.sidenav-open {
  margin-left: 10px;
  transition: 0.25s ease-in;
}

.sidenav-close {
  margin-left: 260px;
  transition: 0.25s ease-out;
}

/*fot de perfil en sidenav*/
.profile {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.profile-photo {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0% auto;
}

.profile-name {
  color: var(--color-tertiary);
  margin: 10px auto 0px auto;
  text-transform: capitalize;
  font-size: 16px;
}
