/* estilos para input */


/*estilo card*/
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 2px #6b6b6b;
  contain: content;
  z-index: 2;
}

.card-list{
  padding-bottom: 7px;
}