/* componet create course */
.create-new-career {
  box-shadow: 0 1px 2px #444444;
  animation-name: enterCreateCourse;
  animation-duration: 0.3s;
}
.input-add-course{
  text-transform: uppercase;
}

.input-add-course {
  font-size: 18px;
  border: 2px solid #d1d1d1;
}
.input-add-course:focus {
  color: #00444e;
  border: 2px solid #0d9ec2e0;
  box-shadow: 0 0 0 1px #1395b680;
  transition: all 0.1s;
}

@keyframes enterCreateCourse {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
}