/* componet create student */
.input-student-admin {
  font-size: 18px;
  background: transparent;
  border: 1px solid #2aaaca;
}
.input-student-admin:focus {
  color: #003b44;
  box-shadow: 0 0 0 2px #1395b6;
  transition: all 0.2s;
}

.create-new-student {
    box-shadow: 0 1px 2px #444444;
    animation-name: enterCreateCourse;
    animation-duration: 0.3s;
  }
  
  @keyframes enterCreateCourse {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
  }