/* componet create teacher */
.input-teacher-admin {
  color: #00ddff;
  font-size: 20px;
  background: transparent;
  border: 1px solid #2aaaca;
}
.input-teacher-admin:focus {
  box-shadow: 0 0 0 2px #1395b6;
  transition: all 0.2s;
}


.create-new-teacher {
  box-shadow: 0 1px 2px #444444;
  animation-name: enterCreateCourse;
  animation-duration: 0.3s;
}

@keyframes enterCreateCourse {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
}
