:root {
  --color-primary: #005562;
  --color-secondary: #0e8174;
  --color-tertiary: #10c4b5;
  --color-white: #fff;
  --color-other: #01140f;

  --color-btn-primary: linear-gradient(
    90deg,
    #005562 20%,
    #10c4b5 50%,
    #005562 80%
  );
  --color-btn-secondary: linear-gradient(
    90deg,
    #0e8174 20%,
    #74e0d4 50%,
    #0e8174 80%
  );
  --color-btn-tertiary: linear-gradient(
    90deg,
    #10c4b5 20%,
    #94fff6 50%,
    #10c4b5 80%
  );
  --color-btn-white: linear-gradient(
    90deg,
    #ffff 20%,
    #10c4b5 50%,
    #ffff 80%
  );
}
*{
  margin: 0%;
  padding: 0%;
}
body {
  padding: 0;
  margin: 0;
  font: Roboto, sans-serif;
  font-family: sans-serif;
  background: #95d2eb;
  background: linear-gradient(180deg, #10c4b5 15%, #0eddcc 55%, #10c4b5 78%);
  background-size: cover;
  background-position-x: center;
  height: 100%;
  width: 100%;
  user-select: none;
}



/*
* EL MENU DEL DASHBOARD
*/
.main{
  margin: 50px 10px 10px 10px;
}

/*tables in general*/
.table {
  border-collapse: collapse;
  min-width: 480px;
  width: 100%;
}


@media screen and (max-width:992px) {
  .main{
    margin: 50px 5px 10px 5px;
  }
}