:root {
  --color-primary: #005562;
  --color-secondary: #0e8174;
  --color-tertiary: #10c4b5;
  --color-white: #fff;
  --color-other: #01140f;

  --color-btn-primary: linear-gradient(
    90deg,
    var(--color-primary) 20%,
    var(--color-while) 50%,
    var(--color-primary) 80%
  );
  --color-btn-secondary: linear-gradient(
    90deg,
    #035569 20%,
    #26a0da 50%,
    #035569 80%
  );
  --color-btn-tertiary: linear-gradient(
    90deg,
    #4d0505 20%,
    #bb554a 50%,
    #4d0505 80%
  );
  --color-btn-tertiary: linear-gradient(
    90deg,
    #4d0505 20%,
    #bb554a 50%,
    #4d0505 80%
  );

  --color-btn-white: linear-gradient(
    90deg,
    #ffff 20%,
    #10c4b5 50%,
    #ffff 80%
  );
}
*{
  margin: 0%;
  padding: 0%;
}
body {
  padding: 0;
  margin: 0;
  font: Roboto, sans-serif;
  font-family: sans-serif;
  background: #95d2eb;
  background: linear-gradient(180deg, #10c4b5 15%, #0eddcc 55%, #10c4b5 78%);
  background-size: cover;
  background-position-x: center;
  height: 100%;
  width: 100%;
  user-select: none;
}

body #root{
  width: 100vw;
  height: 100vh;
}


/*
* EL MENU DEL DASHBOARD
*/
.main{
  margin: 10px;
}

@media screen and (max-width:450px) {

}